<!DOCTYPE html>
<html>
 <%= render 'layouts/header' %>
  <body>
  <%=render 'layouts/navigation'%>
  <%flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <%end%>
    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

   <%= render 'layouts/footer' %>
  </body>
</html>
